{% block cabecalho %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Kidelicia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <script src="/static/js/kidelicia.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../static/img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/img/logo2.png" height="200" width="200">

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

</head>

<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column" >
            <div class="page-header">
                <h1>
                    <img src="/static/img/logo2.png" height="100" width="100" > <img alt="" src="/static/img/kidelicia1.png" height="100" width="500">
                </h1>
            </div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li{% if request.path == '/' %} class="active"{% endif %}>
                            <a href="/">Home</a>
                        </li>

                        {% if _usuario_logado and _usuario_logado.admin %}
                        {% set menu = [

                                    ('Usuários', '/usuario/crud/usuario_listar'),
                                    ('Fotos', '/usuario/crud/foto'),
                                    ('Cardápio', '/cardapio/crud/cardapio_listar'),
                                    ('Novo lanche', '/cardapio/crud/novo_lanche'),
                                    ('Como chegar', '/usuario/crud/como_chegar')

                                ] %}
                        {% else %}
                        {% set menu = [

                                    ('Fotos', '/usuario/crud/foto'),
                                    ('Cardápio', '/cardapio/crud/cardapio_listar'),
                                    ('Como chegar', '/usuario/crud/como_chegar')

                                ] %}
                        {% endif %}

                        {% for name, href in menu %}
                            <li {% if request.path.startswith(href) %} class="active"{% endif %}>
                                <a href="{{ href }}">{{ name }}</a>
                            </li>
                        {% endfor %}
                        <div class="nav navbar-nav navbar-right {% if not _usuario_logado %}btn-logar{% elif _usuario_logado.admin %}btn-logout-admin{% else %}btn-logout{% endif %}" style="padding: 8px 8px 0 0;">
                            {% if _usuario_logado %}
                                <a href="{{_logout_url}}" class="btn btn-danger">({{_usuario_logado.nome}}) Sair </a>
                            {% else %}
                                <a href="{{_login_url}}" class="btn btn-success"> Logar</a>
                            {% endif %}
                        </div>
                    </ul>

                    <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel"><img src="/static/img/logo.png"
                                                                                       height="40" width="40"> About
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        Texto


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>

            </nav>
        </div>
    </div>

    {% endblock %}

    {% block main %} {% endblock %}

</div>
</body>
</html>