{% extends 'templates/base.html' %}

{% block main %}


			<div class="row clearfix">
				<div class="col-md-6 column">
					<h3>
						<strong>1 - HOT DELÍCIA</strong>
					</h3>
					<p>
                        Pão, salsicha, purê, vinagrete, milho, maionese, ketchup e batata palha.
                             </p>
                    <h3>
                    <strong>2 - HAMBURGUER</strong>
					</h3>
					<p>
                        Pão, hamburguer de 90gr, vinagrete, maionese, ketchup e batata palha.
                             </p>
                    <h3>
                    <strong>3 - X-BURGUER</strong>
					</h3>
					<p>
                        Pão, hamburguer de 90gr, queijo, vinagrete, milho, maionese, ketchup e batata palha.
                             </p>
                    <h3>
                    <strong>4 - X-SALADA</strong>
					</h3>
					<p>
                        Pão, hamburguer de 90gr, queijo, milho, alface, tomate, maionese, ketchup e batata palha.
                             </p>
                    <h3>
                    <strong>5 - X-BACON SALADA</strong>
					</h3>
					<p>
                        Pão, hamburguer de 90gr, bacon, queijo, milho, alface, tomate, maionese, ketchup e batata palha.
                             </p>
                    <h3>
                    <strong>6 - X-DELÍCIA</strong>
					</h3>
					<p>
                        Pão, hamburguer de 90gr, bacon, ovo, queijo, milho, alface, tomate, maionese, ketchup e batata palha.
                             </p>
                    <h3>
                    <strong>7 - X-FRANGO</strong>
					</h3>
					<p>
                        Pão, filé de frango, catupiry, queijo, milho, maionese, ketchup e batata palha.
                             </p>
                    <h3>
                    <strong>8 - X-FRANGO BACON</strong>
					</h3>
					<p>
                        Pão, filé de frango, bacon, catupiry, queijo, milho, maionese, ketchup e batata palha.
                             </p>
                    <h3>
                    <strong>9 - X-FRANGO EGG BACON</strong>
					</h3>
					<p>
                        Pão, filé de frango, bacon, ovo, catupiry, queijo, queijo, milho, maionese, ketchup e batata palha.
                             </p>
                    <h3>
                    <strong>10 - X-FRANGO DELÍCIA</strong>
					</h3>
					<p>
                        Pão, filé de frango, bacon, ovo, catupiry, queijo, queijo, milho, alface, tomate, maionese, ketchup e batata palha.
                             </p>

                    <!--{% for produto in cardapio %}
                        <h3 id="{{ produto.nome }}"><strong>{{ produto.nome }}</strong></h3>
                        <p>{{ produto.descricao }}</p>
                        <p>{{ produto.preco }}</p>
                    {%  endfor %}-->

				</div>
                </div>
{% endblock %}