{% extends 'templates/base.html' %}

{% block main %}
    <form action="{{ salvar_curso }}" method="post" role="form">
        <div class="form-group">
            <label>Nome: </label><input type="text" class="form-control" name="nome" id="exampleInputEmail1">
        </div>
        <div class="form-group">
            <label>Login: </label><input type="text" class="form-control" name="login"
                                         id="exampleInputPassword1">
        </div>
        <!--<div class="form-group">
             <label for="exampleInputFile">File input</label><input type="file" id="exampleInputFile">
            <p class="help-block">
                Example block-level help text here.
            </p>
        </div>
        <div class="checkbox">
             <label><input type="checkbox"> Check me out</label>
        </div> -->
        <button type="submit" value="Salvar" class="btn btn-default">Salvar</button>
    </form>
{% endblock %}