{% extends 'templates/base.html' %}
{% block main %}
    <img src="/static/photos/etec1.jpg"  height="200" width="300"
         vspace="10px" hspace="15px" border="10px" align="center"/>
    <img src="/static/photos/etec2.jpg" height="200" width="300"
         vspace="10px" hspace="15px" border="10px" align="center"/>
    <img src="/static/photos/fatec_tarde.jpg" height="200" width="300"
         vspace="10px" hspace="15px" border="10px" align="center"/>
    <img src="/static/photos/clientes1.jpg" height="200" width="300"
         vspace="10px" hspace="15px" border="10px" align="center"/>
    <img src="/static/photos/lanche1.jpg" height="200" width="300"
         vspace="10px" hspace="15px" border="10px" align="center"/>
    <img src="/static/photos/lanche2.jpg" height="200" width="300"
         vspace="10px" hspace="15px" border="10px" align="center"/>

{% endblock %}