{% extends 'templates/base.html' %}

{% block main %}

<div class="carousel slide" id="carousel-130893">
    <ol class="carousel-indicators">
        <li data-slide-to="0" data-target="#carousel-130893">
        </li>
        <li data-slide-to="1" data-target="#carousel-130893">
        </li>
        <li data-slide-to="2" data-target="#carousel-130893" class="active">
        </li>
    </ol>
    <div class="carousel-inner">
        <div class="item">
            <img alt="" src="/static/img/Logo.jpg">
            <!--<div class="carousel-caption">
            <h4>
                Second Thumbnail label
            </h4>
            <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
        </div>-->
        </div>
        <div class="item">
            <img alt="" src="/static/img/Logo.jpg">
            <!--<div class="carousel-caption">
                <h4>
                    Second Thumbnail label
                </h4>
                <p>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
            </div>-->
        </div>
        <div class="item active">
            <img alt="" src="/static/img/Logo.jpg">
            <!--<div class="carousel-caption">
                <h4>
                    Third Thumbnail label
                </h4>
                <p>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
            </div>-->
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-130893" data-slide="prev"><span
            class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
                                                                    href="#carousel-130893" data-slide="next"><span
        class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div class="row clearfix">
    <div class="col-md-6 column">
        <h3>
            <strong>HISTÓRIA</strong>
        </h3>

        <p>
            Em funcionameto desde <strong>julho de 2003</strong> em São José dos Campos<em> no Jardim das
            Indústrias.</em>
            <small>Empresa familiar.</small>
        </p>
    </div>
    <div class="col-md-6 column">
        <h3>
            <strong>Telefone</strong>

        </h3>

        <p>
            (12)3937.9422
        </p>
    </div>
</div>

{% endblock %}

