{% extends 'templates/base.html' %}

{% block main %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h1>Usuários</h1>
            <div class="table-responsive">
            <table class = "table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Logradouro</th>
                        <th>Número</th>
                        <th>Bairro</th>
                        <th>Cidade</th>
                    </tr>
                </thead>
            <tbody>
                {% for usuario in lista_usuarios %}
                <tr>
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.logradouro }}</td>
                    <td>{{ usuario.num }}</td>
                    <td>{{ usuario.bairro }}</td>
                    <td>{{ usuario.cidade }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}