{% extends 'templates/base.html' %}

{% block main %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h1>Usuários</h1>
            <div class="table-responsive">
            <table class = "table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                    </tr>
                </thead>
            <tbody>
                {% for usuario in lista_usuarios %}
                <tr>
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}